/* Layout */
.layout {
    position: relative;
    display: grid;
    grid-template-areas:
      "sidebarLeft header sidebarRight"
      "sidebarLeft main sidebarRight"
      "sidebarLeft footer sidebarRight";
    height: 100%;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
  }

  .header{
    grid-area:header;
    
  }
  .sidebarLeft{
    grid-area:sidebarLeft;
  }
  .main{
    grid-area:main;
    display: grid;
    grid-auto-rows: min-content;
    height: 100%;
    gap:16px;
    background-color: var(--dark-body);
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebarRight{
    grid-area:sidebarRight;
  }
  .footer{
    grid-area:footer;
  }
  .row-3-col{
    display: grid;
    gap: 16px;
  }
@media screen and (min-width: 1200px) {
    .main{
        grid-template-areas: "triple triple"
        "graph1 graph2"
        "row-3-col row-3-col"
        "table2 table2";
    }
    .triple{
        grid-area:triple;
    }
    .graph1{
        grid-area:graph1;
    }
    .graph2{
        grid-area:graph2;
    }
    .row-3-col{
      grid-area: row-3-col;
    }
    .table2{
      grid-area: table2;
    }
    .row-3-col{
      grid-template-areas: "table1 table1"
      "lineTime graph3"
      "graph4 graph4";
      grid-template-columns: repeat(2, 1fr);
    }

    .table1{
      grid-area: table1;
    }
    .lineTime{
      grid-area: lineTime;
    }
    .graph3{
      grid-area: graph3;
    }
    .graph4{
      grid-area: graph4;
    }

}
@media screen and (min-width: 1600px) {
    .main{
        grid-template-areas: "triple graph2"
        "graph1 graph2"
        "row-3-col row-3-col"
        "table2 table2";
    }
    .row-3-col{
      grid-template-areas: "table1 lineTime graph3";
      grid-template-columns: 2fr repeat(2, 1fr);
    }
    .table1{
      grid-area: table1;
    }
    .lineTime{
      grid-area: lineTime;
    }
    .graph3{
      grid-area: graph3;
    }
    .graph4{
      grid-area: graph4;
    }

}


  




/* Card popular products */

/* Fin Card popular products */